.footer {

	&__heading {
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 10px;
	}

	&__content {
		padding-top: 33px;
		position: relative;

		&:before {
			top: 0;
			content: '';
			left: -15px;
			right: -15px;
			display: block;
			position: absolute;
			border-top: 3px solid #e9e9ea;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		> li {
			margin-bottom: 25px;

			> ul {
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 1.3rem;
				line-height: 2rem;

				li {
					margin-bottom: 10px;

					a {
						color: #616161;
						font-weight: 500;
						text-decoration: none;

						&:hover {
							color: $color-red;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	&__action {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		> li {

			&:first-child {
				margin-bottom: 20px;
			}
		}
	}

	&__subscribe {
		width: 290px;
		margin: 0 auto;
		@include flexbox();

		button {
			margin: 0;
			color: #fff;
			width: 40px;
			height: 40px;
			border: none;
			outline: none;
			cursor: pointer;
			font-size: 2rem;
			line-height: 2rem;
			padding: 10px 5px;
			display: inline-block;
			background: #7e85c5;
			@include flex-shrink(0);

			&:hover {
				background: $color-red;
			}
		}


		input {
			width: 100%;
			border: none;
			outline: none;
			height: 40px;
			color: #616161;
			padding: 9px 10px;
			font-weight: 400;
			line-height: 2rem;
			font-size: 1.3rem;
			margin: 0 10px 0 0;
			background: #f4f4f4;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #f4f4f4;
			@include placeholder(#616161);
			@include flex-grow(1);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus,
			&:active {
				outline: none;
				background: #fff;
				@include placeholder(transparent);
			}
		}
	}

	&__social {
		font-size: 0;
		line-height: 0;
		@include flexbox();
		@include justify-content(center);

		a {
			width: 40px;
			height: 40px;
			color: #616161;
			padding: 5px 0;
			font-size: 3rem;
			line-height: 3rem;
			margin: 0 5px;
			display: inline-block;
			text-align: center;
			text-decoration: none;

			&:hover {
				color: $color-red;
				text-decoration: none;
			}
		}
	}

	&__bottom {
		padding: 40px 0 35px 0;
		text-align: center;
		color: #616161;
		font-size: 1.2rem;
		line-height: 2rem;

		&_copy {
			padding: 5px 0;
			font-weight: 700;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&_links {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				padding: 5px 0;

				> a {
					color: #616161;
					font-weight: 500;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: $color-red;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__top {
		margin: 0 -15px;
		list-style: none;
		font-weight: 500;
		padding: 32px 0 0 0;
		font-size: 1.2rem;
		line-height: 1.6rem;
		border-top: 3px solid #e9e9ea;

		li {
			text-align: center;
			margin-bottom: 30px;

			a {
				color: #616161;
				display: block;
				text-decoration: none;
			}

			img {
				max-width: 100%;
				height: auto;
				display: inline-block;
				margin-bottom: 20px;
			}

			span {
				display: block;
			}

			strong {
				display: block;
				font-weight: 400;
				color: $color-red;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__nav {
			text-align: left;
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 50%;
			}
		}

		&__bottom {
			text-align: left;
			@include flexbox();

			&_copy {
				margin: 0 60px 0 0;
			}

			&_links {
				@include flexbox();

				> li {
					margin-right: 30px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		&__subscribe {
			width: 300px;
		}

		&__action {
			text-align: left;
			@include flexbox();
			@include align-items(flex-start);

			> li {
				&:first-child {
					margin: 0 40px 0 0;
				}
			}
		}

		&__social {
			margin: 0 -5px;
			@include justify-content(flex-start);
		}

		&__top {
			padding-bottom: 30px;
			@include flexbox();

			li {
				width: 20%;
				padding: 0 5px;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {

			> li {
				width: 25%;
			}
		}

		&__action {
			text-align: left;
			@include flexbox();
			@include align-items(flex-start);

			> li {
				&:first-child {
					margin-right: 70px;
				}
			}
		}

		&__top {

			li {
				padding: 0 15px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			@include flexbox();
		}

		&__nav {
			@include flex-grow(1);
		}

		&__action {
			width: 320px;
			@include flex-shrink(0);
			@include flex-direction(column);

			> li {

				&:first-child {
					margin: 0 0 20px 0;
				}
			}
		}

		&__subscribe {
			width: 320px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}