
.showcase {

	&__item {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&__item {
			width: 50%;
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			width: calc(25% - 10px);
		}
	}
}

.goods {
	height: 100%;
	color: #616161;
	margin: 0 auto;
	padding: 15px 0;
	max-width: 300px;
	text-align: center;
	text-decoration: none;
	border: 3px solid transparent;
	@include flexbox();
	@include flex-direction(column);
	@include transition(.3s);

	&__image {
		margin-bottom: 15px;
	}

	&__name {
		padding: 0 5px;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.8rem;
	}

	&__subtitle {
		padding: 0 5px;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 1.7rem;
		@include flex-grow(1);
	}

	&__price {
		font-size: 0;
		line-height: 0;
		margin: 15px 0;
		position: relative;

		&:before {
			left: 0;
			right: 0;
			top: 50%;
			content: '';
			display: block;
			position: absolute;
			border-bottom: 1px solid #e9e9ea;
		}

		span {
			z-index: 20;
			width: 100px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 2rem;
			position: relative;
			background: #ffffff;
			display: inline-block;
		}
	}

	&__footer {

	}

	&__btn {
		color: #fff;
		height: 30px;
		margin: 0 auto;
		font-size: 1.3rem;
		line-height: 2rem;
		position: relative;
		background: #ee3147;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		padding: 5px 45px 8px 15px;

		opacity: 0;
		visibility: hidden;
		@include transition(.3s);

		i {
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			position: absolute;
			background: #ca2033;
			display: inline-block;
			@include transition(.3s);

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				width: 15px;
				height: 1px;
				content: '';
				background: #fff;
				margin-left: -8px;
				position: absolute;
				display: inline-block;
			}

			&:after {
				@include rotate(90deg);
			}
		}

		&:hover {

			i {
				width: 38px;
				@include transition(.3s);
			}
		}
	}

	&:hover {
		border-color: #e9e9ea;
		@include transition(.3s);

		.goods__btn {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}

.categories_content {
	color: #828282;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 15px 35px;
	background: #f6f6f6;
	margin: 0 0 30px 0;

	h1 {
		color: #828282;
		font-weight: 400;
		font-size: 2.8rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
}

.categories {
	margin: 0 auto;
	padding: 0;
	max-width: 425px;
	list-style: none;


	> li {
		margin-bottom: 20px;

		a {
			color: #fff;
			display: block;
			position: relative;
			text-decoration: none;

			&:hover {

				.categories__text {
					background: rgba(0,0,0,0.5);
					@include transition(.3s);
				}
			}
		}
	}

	&__image {
		z-index: 1;
		position: relative;
	}

	&__text {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		text-align: center;
		position: absolute;
		background: rgba(0,0,0,0.3);
		@include flexbox();
		@include justify-content(center);
		@include flex-direction(column);
		@include transition(.3s);

		span {
			width: 100%;
			margin: auto 0;
			display: block;
			line-height: 1.1;
			font-weight: 700;
			font-size: 2.2rem;
			text-transform: uppercase;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: auto;
		margin: 0 -10px;
		max-width: inherit;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			padding: 0 10px;
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {}
}

.toolbar {
	font-size: 0;
	line-height: 0;
	margin-bottom: 10px;
	@include flexbox();
	@include flex-wrap(wrap);

	&__amount {
		color: #7e85c5;
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 5px;
		margin-right: 30px;
		display: inline-block;
		text-transform: uppercase;
		font-family: $font-family-second;
	}

	&__sort {
		font-weight: 400;
		color: #616161;
		margin-bottom: 5px;
		font-size: 1.3rem;
		line-height: 2rem;
		text-transform: uppercase;
		font-family: $font-family-second;
		@include flexbox();
		@include flex-wrap(wrap);

		span {
			margin-right: 15px;
			display: inline-block;
		}

		a {
			color: #616161;
			display: inline-block;
			text-decoration: underline;

			&:after {
				content: '|';
				padding: 0 5px;
				color: #616161;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			&:hover {
				text-decoration: none;
			}

			&.active {
				color: $color-red;
			}
		}
	}
}

.item {
	height: 100%;
	color: #616161;
	margin: 0 auto;
	max-width: 320px;
	padding: 15px 5px 20px 5px;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	position: relative;
	border: 3px solid transparent;
	@include flexbox();
	@include flex-direction(column);
	@include transition(.3s);

	&__article {
		z-index: 100;
		top: 10px;
		left: 10px;
		display: block;
		text-align: left;
		font-size: 1rem;
		position: absolute;
		line-height: 1.2rem;
		margin-left: -120px;
		@include transition(.3s);
	}

	&__image {
		max-width: 275px;
		position: relative;
		margin: 0 auto 10px auto;

		&_base {
			display: block;
			position: relative;
			@include transition(.3s);
		}

		&_hover {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			@include transition(.3s);
		}
	}

	&__name {
		font-size: 1.4rem;
		line-height: 1.8rem;
		@include flex-grow(1);

		strong {
			display: block;
			font-weight: 600;
		}

		span {
			display: block;
			font-size: 1.2rem;
		}
	}

	&__price {
		font-size: 0;
		line-height: 0;
		margin: 20px 0;
		width: 100%;
		position: relative;

		&:before {
			left: 0;
			right: 0;
			top: 50%;
			content: '';
			display: block;
			position: absolute;
			border-bottom: 1px solid #e9e9ea;
		}

		span {
			z-index: 20;
			width: 120px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 2rem;
			position: relative;
			background: #ffffff;
			display: inline-block;
		}
	}

	&__options {
		opacity: 0;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
		@include transition(.3s);

		&_title {
			display: block;
			color: #7e85c5;
			font-size: 1.2rem;
			line-height: 1.4rem;
			margin-bottom: 5px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include flexbox();
			@include justify-content(center);

			li {
				display: inline-block;
				font-weight: 600;
				font-size: 1.4rem;
				line-height: 1.6rem;
				margin: 0 4px;
			}
		}
	}

	&:hover {
		border-color: #e9e9ea;
		@include transition(.3s);

		.item__article {
			margin-left: 0;
			@include transition(.3s);
		}

		.item__image_base {
			opacity: 0;
			visibility: hidden;
			@include transition(.3s);
		}

		.item__image_hover {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}

		.item__options {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}

.product_grid {
	margin-bottom: 30px;

	&__item {
		margin-bottom: 5px;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -10px;
		@include flexbox();
		@include flex-wrap(wrap);

		&__item {
			width: 50%;
			padding: 010px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			width: 33.33%;
			padding: 10px;
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

// Filter

.filter {
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 1500;
	display: none;
	position: fixed;
	background: #fff;
	padding-top: 40px;

	&__close {
		toP: 0;
		right: 0;
		z-index: 100;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		background: #7e85c5;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 25px;
			height: 1px;
			content: '';
			background: #fff;
			position: absolute;
			margin-left: -13px;
			display: inline-block;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__wrap {
		padding: 20px 0;
		height: calc(100vh - 40px);
		overflow-y: auto;
	}

	&__heading {
		color: #fff;
		padding: 9px 5px;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		background: #7e85c5;
		margin-bottom: 25px;
		position: relative;
		text-transform: uppercase;

		&:before {
			top:100%;
			left: 50%;
			content: '';
			margin-left: -10px;
			position: absolute;
			display: inline-block;
			border: 10px solid transparent;
			border-top: 10px solid #7e85c5;
		}
	}

	&__title {
		color: #828282;
		overflow: hidden;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2rem;
		text-align: center;
		position: relative;
		margin-bottom: 10px;
		text-transform: uppercase;

		&:before {
			left: 0;
			right: 0;
			top: 50%;
			content: '';
			display: block;
			position: absolute;
			border-bottom: 1px solid #828282;
		}

		span {
			z-index: 10;
			padding: 0 10px;
			background: #fff;
			position: relative;
			display: inline-block;
		}
	}

	&__group {
		padding: 0 15px;
		margin-bottom: 20px;
	}

	&__link {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			label {
				font-size: 0;
				line-height: 0;
				font-weight: 500;
				display: inline-block;

				input {
					display: none;
				}

				span {
					color: #616161;
					padding: 4px 0;
					cursor: pointer;
					font-size: 1.3rem;
					line-height: 1.8rem;
					display: inline-block;
					text-decoration: none;
				}

				input:checked + span {
					color: #7e85c5;
				}
			}
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			label {
				font-size: 0;
				line-height: 0;
				font-weight: 500;
				display: inline-block;

				input {
					display: none;
				}

				span {
					cursor: pointer;
					color: #616161;
					font-size: 1.3rem;
					line-height: 1.8rem;
					display: inline-block;
					position: relative;
					text-decoration: none;
					padding: 4px 0 4px 20px;

					&:before {
						left: 0;
						toP: 8px;
						content: '';
						width: 12px;
						height: 12px;
						position: absolute;
						border: 2px solid #7e85c5;
						@include border-radius(50%);
					}
				}

				input:checked + span {
					color: #7e85c5;

					&:before {
						background: #7e85c5;
					}
				}
			}
		}
	}

	&__circle {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			margin: 0 10px 10px 0;

			label {
				font-size: 0;
				line-height: 0;
				font-weight: 500;
				display: inline-block;

				input {
					display: none;
				}

				span {
					width: 36px;
					height: 36px;
					color: #959595;
					padding: 8px 0;
					cursor: pointer;
					background: #fff;
					text-align: center;
					font-size: 1.3rem;
					line-height: 1.8rem;
					display: inline-block;
					position: relative;
					border: 1px solid #959595;
					@include border-radius(50%);
				}

				input:checked + span {
					color: #fff;
					background: #7e85c5;
					border-color: #7e85c5;
				}
			}
		}
	}

	&__color {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			margin: 0 10px 10px 0;

			label {
				font-size: 0;
				line-height: 0;
				font-weight: 500;
				display: inline-block;

				input {
					display: none;
				}

				span {
					width: 36px;
					height: 36px;
					cursor: pointer;
					background: #fff;
					text-align: center;
					position: relative;
					overflow: hidden;
					display: inline-block;
					@include border-radius(50%);

					&:before {
						top: 0;
						left: 0;
						content: '';
						width: 36px;
						height: 36px;
						background: transparent;
						position: absolute;
						display: inline-block;
						border: 5px solid #7e85c5;
						@include border-radius(50%);
						opacity: 0;
				 		visibility: hidden;
					}
				}

				input:checked + span {

					&:before {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		top: auto;
		left: auto;
		right: auto;
		height: auto;
		z-index: 10;
		display: block;
		position: relative;
		padding-top: 0;
		background: #fff;

		&__wrap {
			padding: 0;
			height: auto;
			overflow-y: visible;
		}

		&__group {
			padding: 0;
		}

		&__close {
			display: none;
		}
	}
}

.btn_filter_mobile {
	color: #fff;
	width: 100%;
	display: block;
	cursor: pointer;
	padding: 10px 0;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 2rem;
	background: #7e85c5;
	margin-bottom: 30px;
	text-decoration: none;
	text-transform: uppercase;


	@media (min-width: $screen-sm-min) {
		display: none;
	}
}


.filter_open {
	height: 100vh;
	overflow: hidden;

	.filter {
		display: block;
	}
}

.cloudzoom-blank {

	img {

	}
}

.product {

	&__gallery {
		margin-bottom: 30px;

		&_content {
			margin-bottom: 20px;

		}

		&_item {
			display: none;

			&.active {
				display: block;
			}
		}

		&_thumbs {

			a {
				display: block;
				position: relative;
				border: 2px solid transparent;

				&.active {
					border-color: #e4e4e4;
				}
			}
		}
	}

	&__content {

	}

	&__name {
		color: #616161;
		text-align: left;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 10px;
	}

	&__subtitle {
		color: #616161;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 1.5rem;
		margin-bottom: 5px;

	}

	&__article {
		color: #828282;
		font-size: 1.1rem;
		line-height: 1.3rem;
	}

	&__price {
		color: #616161;
		font-weight: 600;
		font-size: 2.5rem;
		line-height: 3rem;
		padding: 10px 0 20px 0;

		span {

		}
	}

	&__options {
		margin-bottom: 20px;

		&_title {
			color: #616161;
			font-weight: 500;
			font-size: 1.1rem;
			line-height: 1.3rem;
			margin-bottom: 15px;
			text-transform: uppercase;

			strong {
				font-weight: 700;
				margin-right: 20px;
				display: inline-block;
			}

			a {
				color: #616161;
				font-weight: 600;
				text-decoration: underline;
				font-family: $font-family-second;

				&:hover {
					color: #616161;
					text-decoration: none;
				}
			}
		}

		&_colors {
			padding: 0;
			margin: 0 -5px;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 60px;
				margin: 0 5px 10px 5px;

				a {
					display: block;
					border-bottom: 2px solid transparent;
				}

				&.active {

					a {
						border-bottom-color: #b2b2b2;
					}
				}
			}
		}

		&_size {
			padding: 0;
			margin: 0 -5px;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				margin: 0 5px 10px 5px;

				label {
					width: 46px;
					height: 46px;
					font-size: 0;
					line-height: 0;
					font-weight: 400;
					display: inline-block;

					input {
						display: none;
					}

					span {
						width: 46px;
						height: 46px;
						padding: 15px 0;
						font-weight: 500;
						font-size: 1.4rem;
						line-height: 1.4rem;
						text-align: center;
						display: inline-block;
						text-transform: uppercase;
						border: 1px solid #959595;
						@include border-radius(50%);
					}

					input:checked + span {
						color: #7e85c5;
						border-color: #7e85c5;
					}
				}
			}
		}
	}

	&__buy {
		margin-bottom: 30px;
	}

	&__actions  {

	}

	&__like {
		color: #616161;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 20px;
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;

		&:hover {
			color: $color-blue;
			text-decoration: none;
		}
	}

	&__social {
		margin: 0 0 0 -3px;
		padding: 0;
		list-style: none;
		@include flexbox();

		a {
			width: 24px;
			height: 24px;
			color: #616161;
			padding: 3px 0;
			font-size: 1.8rem;
			line-height: 1.8rem;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			@include transition(.3s);

			&:hover {
				opacity: 0.6;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__gallery {
			width: 50%;
			margin-bottom: 0;
			padding-right: 20px;
			border-right: 1px solid #e4e4e4;
		}

		&__content {
			width: 50%;
			padding-left: 20px;
			border-left: 1px solid #e4e4e4;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__gallery {
			padding-right: 40px;
		}

		&__content {
			padding-left: 40px;
		}
	}
}

.product_tabs {
	padding: 35px 0;
	background: #f6f6f6;

	&__nav {
		padding: 0;
		list-style: none;
		margin: 0 -15px 50px -15px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		> li {
			padding: 0 15px;

			a {
				color: #616161;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 2rem;
				text-decoration: none;
				padding: 10px 15px 6px 15px;
				border-bottom: 4px solid #616161;
			}

			&.active {

				a {
					color: $color-red;
					border-bottom-color: $color-red;
				}
			}
		}
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}
	}

	&__wrap {
		margin: 0 auto;
		max-width: 768px;
	}

	&__info {
		padding: 0;
		max-width: 500px;
		font-size: 1.4rem;
		line-height: 2rem;
		margin: 0 auto;
		list-style: none;

		> li {
			margin-bottom: 10px;
		}
	}

	&__logo {
		width: 151px;
		display: block;
		margin: 0 auto 10px auto;
	}

	&__data {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);

		> li {
			padding: 20px 15px;
			@include flexbox();
			@include align-items(center);

			img {
				display: inline-block;
			}

			strong {
				padding-left: 20px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {

			> li {
				padding: 0 30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__data {
			@include justify-content(space-between);
		}
	}
}

.fancy {
	height: 100%;
	padding: 10px;
	color: #616161;
	margin: 0 auto;
	max-width: 295px;
	text-align: center;
	text-decoration: none;
	@include flexbox();
	@include flex-direction(column);

	&_row {

	}

	&_item {
		margin-bottom: 10px;
	}

	&__image {

	}

	&__name {
		padding: 15px 0;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
	}

	&__text {
		font-size: 1.2rem;
		line-height: 16px;
		@include flex-grow(1);
	}

	&__price {
		font-size: 0;
		line-height: 0;
		margin: 15px 0;
		position: relative;

		&:before {
			left: 0;
			right: 0;
			top: 50%;
			content: '';
			display: block;
			position: absolute;
			border-bottom: 1px solid #e9e9ea;
		}

		span {
			z-index: 20;
			width: 100px;
			font-size: 2rem;
			font-weight: 600;
			line-height: 2rem;
			position: relative;
			background: #ffffff;
			display: inline-block;
		}
	}

	@media (min-width: $screen-md-min) {

		&_row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			&_item {
				margin: 0 10px 10px 10px;
			}
		}
	}
}


.fotorama--fullscreen .fotorama__nav,
.fotorama--fullscreen .fotorama__stage {
	background: #fff;
}

.fotorama__wrap-link {
	width: 100%;
	height: 100%;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.btn_purchase {

	span {

	}

	i {

	}
}

.cloudzoom-blank {
	font-size: 0 !important;
	line-height: 0 !important;

	 > div:last-child {
		 display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}
}


.purchase {
	margin: 0;
	padding: 0;
	height: 90%;
	max-width: 360px;
	background: #fff;

	.fancybox-close-small {
		color: #fff;
		width: 50px;
		height: 50px;
		z-index: 800;
		outline: none;
		position: absolute;
		background: #666ca5;

		&:after,
		&:before {
			z-index: 10;
			top: 50%;
			left: 50%;
			padding: 0;
			content: '';
			font-size: 0;
			line-height: 0;
			width: 31px;
			height: 2px;
			background: #fff;
			position: absolute;
			color: transparent;
			margin: -1px 0 0 -16px;
			@include border-radius(0);
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__wrap {
		height: 100%;
		overflow-y: auto;
	}

	&__heading {
		color: #fff;
		height: 50px;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		background: #7e85c5;
		padding: 5px 70px 5px 20px;
		@include flexbox();
		@include flex-direction(column);

		span {
			margin: auto 0;
			display: block;
		}
	}

	&__content {
		padding: 15px 10px
	}

	&__product {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 2px solid #e4e4e4;
		@include flexbox();

		&_image {
			display: none;
		}

		&_detail {
			padding-right: 25px;
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.8rem;
		}

		&_title {
			font-size: 1.4rem;
			margin-bottom: 5px;
		}

		&_subtitle {
			margin-bottom: 10px;
		}

		&_color {
			margin-bottom: 10px;
		}

		&_size {
			margin-bottom: 10px;
		}

		&_price {
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 3rem;
			white-space: nowrap;
		}
	}

	&__button {
		margin-bottom: 30px;

		&_item {
			width: 100%;
			padding: 5px 0;

			.btn {
				width: 100%;
			}
		}
	}

	&__title {
		height: 46px;
		width: 100%;
		text-align: center;
		font-size: 1.2rem;
		line-height: 1.6rem;
		background: #f4f4f4;
		margin: 0 0 15px 0;
		@include flexbox();
		@include flex-direction(column);

		span {
			margin: auto 0;
			display: block;
		}
	}

	&__fancy {

		&_item {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 800px;
		height: auto;
		max-width: inherit;

		&_wrap {
			overflow-y: visible;
		}

		&__heading {
			font-size: 2rem;
			text-transform: uppercase;
		}

		&__content {
			padding: 30px 35px;
		}

		&__product {
			padding-bottom: 10px;

			&_image {
				display: block;
				width: 175px;
				@include flex-shrink(0);
			}

			&_detail {
				padding: 0 40px 0 40px;
				@include flex-grow(1);
			}
		}

		&__button {
			@include flexbox();
			@include justify-content(space-between);

			&_item {
				width: 280px;
				margin-bottom: 0;
			}
		}

		&__fancy {
			@include flexbox();

			&_item {
				width: 33.33%;
			}
		}
	}
}