.header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1010;
	background: #fff;
	position: fixed;

	&__top {
		color: #fff;
		padding: 5px 0;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		white-space: nowrap;
		background: $color-red;
		text-transform: uppercase;
	}

	&__content {

	}

	&__row {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		width: 100px;
		display: block;
	}

	&__left {
		min-width: 85px;
		@include flexbox();
	}

	&__right {
	}

	&__toggle {
		width: 50px;
		height: 50px;
		padding: 15px 10px 10px 10px;
		color: #828282;
		font-size: 0;
		line-height: 0;
		margin-left: -15px;
		margin-right: 10px;
		position: relative;
		display: inline-block;
		text-decoration: none;

		span {
			height: 3px;
			width: 100%;
			margin-bottom: 6px;
			position: relative;
			background: #828282;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__search {
		padding: 10px 0;
		width: 200px;
		height: 50px;
		display: none;
		font-size: 2rem;
		line-height: 2rem;
		color: $color-red;
		text-align: center;
		position: relative;
		text-decoration: none;

		&_row {
			@include flexbox();

			button {
				margin: 0;
				width: 40px;
				height: 30px;
				border: none;
				outline: none;
				padding: 5px 5px;
				color: $color-red;
				display: inline-block;
				background: transparent;
				@include flex-shrink(0);
			}


			input {
				margin: 0;
				width: 100%;
				border: none;
				outline: none;
				height: 30px;
				color: #dadada;
				padding: 5px 0;
				font-weight: 400;
				line-height: 2rem;
				font-size:  1.3rem;
				display: inline-block;
				vertical-align: middle;
				background: transparent;
				border-bottom: 1px solid #dadada;
				@include placeholder(#dadada);
				@include flex-grow(1);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus,
				&:active {
					outline: none;
					@include placeholder(transparent);
				}
			}
		}
	}

	&__access {
		margin: 0 -15px 0 0;
		padding: 0;
		list-style: none;
		@include flexbox();

		> li {

			> a {
				width: 50px;
				height: 40px;
				color: #828282;
				padding: 10px 5px;
				font-size: 1.6rem;
				line-height: 2rem;
				text-align: center;
				display: inline-block;
				text-decoration: none;

				i {
					font-size: 2rem;
				}

				span {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		top: auto;
		left: auto;
		right: auto;
		position: relative;

		&__content {
			padding-top: 25px;
			padding-bottom: 30px;
		}

		&__row {
			@include align-items(flex-start);
		}

		&__toggle {
			display: none;
		}

		&__left {
			width: 33.33%;
		}

		&__right {
			width: 33.33%;
		}

		&__logo {
			width: 220px;
		}

		&__search {
			display: block;
			margin-top: -10px;
		}

		&__access {
			@include justify-content(flex-end);

			> li {
				margin-left: 20px;

				> a {
					width: auto;
					margin-top: -10px;
					position: relative;

					&:before {
						left: 0;
						right: 0;
						bottom: 0;
						height: 0;
						content: '';
						position: absolute;
						display: inline-block;
						background: $color-red;
						@include transition(.3s);
					}

					span {
						padding-left: 10px;
						font-size: 1.3rem;
						display: inline-block;
						text-transform: uppercase;
					}

					&:hover {

						&:before {
							height: 5px;
							@include transition(.3s);
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.nav {
	left: 0;
	top: 80px;
	width: 80%;
	height: 100vh;
	z-index: 1000;
	display: block;
	position: fixed;
	background: #fff;
	margin-left: -85%;
	border-top: 1px solid #c3c3c3;
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.3));

	&__container {
		height: 100%;
		position: relative;
		overflow-y: auto;
	}

	&__primary {
		margin: 0;
		padding: 0;
		font-size: 1.3rem;
		line-height: 2rem;
		list-style: none;
		@include transition(.3s);

		> li {

			> a {
				width: 100%;
				color: #616161;
				font-weight: 600;
				position: relative;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				padding: 15px 15px 14px 15px;
				border-bottom: 1px solid #c3c3c3;

				> span {
					top: 50%;
					right: 10px;
					width: 12px;
					height: 12px;
					margin-top: -6px;
					position: absolute;
					display: inline-block;

					&:after,
					&:before {
						top: 50%;
						left: 50%;
						right: 10px;
						height: 2px;
						width: 12px;
						content: '';
						position: absolute;
						background: #616161;
						margin: -1px 0 0 -6px;
					}

					&:after {
						@include rotate(90deg);
					}
				}
			}

			&.dropdown {

				&:hover {

					> a {

						&:before {
							background: $color-red;
						}

						span {

							&:after {
								background: $color-red;
								@include rotate(0deg);
							}
						}
					}
				}
			}

			&:hover {

				> a {
					color: $color-red;

				}

				.nav__second {
					display: block;
				}
			}
		}
	}

	&__second {
		display: none;
		padding: 10px 0 10px 15px;

		&_list {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> a {
					padding: 10px 15px;
					color: #616161;
					font-weight: 500;
					font-size: 1.3rem;
					line-height: 2rem;
					text-decoration: none;
					display: inline-block;

					i {
						display: none;
					}
				}
			}
		}

		&_links {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> a {
					padding: 10px 15px;
					color: #616161;
					font-weight: 500;
					font-size: 1.3rem;
					line-height: 2rem;
					text-decoration: none;
					display: inline-block;

					i {
						display: none;
					}
				}
			}
		}

		&_menu {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> a {
					padding: 10px 15px;
					color: #616161;
					font-weight: 500;
					font-size: 1.3rem;
					line-height: 2rem;
					text-decoration: none;
					display: inline-block;
				}
			}
		}

		&_image {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) {
		top: auto;
		left: auto;
		right: auto;
		width: 100%;
		height: auto;
		margin-left: 0;
		overflow: visible;
		position: relative;
		border-top: none;
		@include box-shadow(none);

		&__container {
			height: auto;
			margin: 0 auto;
			padding: 0 15px;
			width: $container-md;
			overflow: visible;
			border-bottom: 1px solid #dadada;
		}

		&__primary {
			@include flexbox();
			@include justify-content(space-between);

			> li {
				@include flex-grow(1);

				> a {
					width: 100%;
					text-align: center;
					padding: 15px 10px;
					border-bottom: none;

					> span {
						display: none;
					}

					&:before {
						left: 0;
						right: 0;
						bottom: 0;
						content: '';
						height: 0;
						background: $color-red;
						position: absolute;
						@include transition(.3s);
					}

					&:hover {

						&:before {
							height: 5px;
							@include transition(.3s);
						}
					}
				}

				&:hover {

					> a {

						&:before {
							height: 5px;
							@include transition(.3s);
						}
					}

					.nav__second {
						opacity: 1;
						visibility: visible;
					//	@include transition(.3s);
					}
				}
			}
		}

		&__second {
			top: 100%;
			left: 0;
			right: 0;
			opacity: 0;
			z-index: 999;
			padding: 20px 15px;
			display: block;
			background: #fff;
			position: absolute;
			visibility: hidden;
		//	margin-top: -1px;
			border: 1px solid #dadada;
			@include transition(.3s);

			&_list {
				@include flexbox();
				@include flex-wrap(wrap);

				> li {
					width: 33.33%;

					> a {
						padding: 7px 10px;
						@include flexbox();
						@include align-items(center);

						i {
							width: 36px;
							height: 36px;
							display: inline-block;
						}

						span {
							padding-left: 8px;
							display: inline-block;
						}

						&:hover {
							color: $color-red;
							text-decoration: none;
						}
					}
				}
			}


			&_links {
				padding: 10px;
				@include flexbox();
				@include justify-content(space-between);

				> li {
					width: calc(33.33% - 10px);

					> a {
						padding: 0;
						display: block;
						text-align: center;
						position: relative;

						i {
							z-index: 1;
							display: block;
							position: relative;

							&:before {
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								z-index: 2;
								content: '';
								display: block;
								position: absolute;
								background: rgba(0,0,0,0.3);
								@include transition(.15s);
							}
						}

						span {
							left: 0;
							right: 0;
							top: 50%;
							color: #fff;
							z-index: 10;
							padding: 5px;
							font-weight: 700;
							font-size: 3rem;
							line-height: 3rem;
							margin-top: -20px;
							position: absolute;
							display: inline-block;
							text-transform: uppercase;
						}

						&:hover {
							color: $color-red;
							text-decoration: none;

							i {
								&:before {
									background: rgba(0,0,0,0.6);
									@include transition(.3s);
								}
							}
						}
					}
				}
			}

			&_row {
				@include flexbox();
				@include align-items(center);
			}

			&_image {
				display: block;
				width: 300px;
				margin-right: 20px;
				@include flex-shrink(0);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__container {
			width: $container-lg;
		}

		&__second {

			&_links {
				padding: 15px 20px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__container {
			width: $container-xl;
		}

		&__primary {
			font-size: 1.5rem;
		}

		&__second {

			&_image {
				width: 360px;
			}
		}
	}
}

.nav_open {
	height: 100vh;
	overflow: hidden;

	.header__toggle {
		background: $color-red;

		span {
			background: #fff;

			&:nth-child(1) {
				top: 9px;
				@include rotate(45deg);
			}

			&:nth-child(2) {
				@include rotate(-45deg);
			}

			&:nth-child(3) {
				display: none;
			}
		}
	}

	.nav {
		margin-left: 0;
		@include transition(.3s);
	}
}


.header_account {
	position: relative;

	&.open {

		.header_account__dropdown {
			opacity: 1;
			visibility: visible;
		}
	}

	&__link {
		width: 50px;
		height: 40px;
		color: #828282;
		padding: 10px 5px;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		display: inline-block;
		text-decoration: none;

		i {
			font-size: 2rem;
		}

		span {
			display: none;
		}

		&:hover  {
			color: #828282;
			text-decoration: none;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-top: 10px;
		padding-bottom: 15px;
		text-align: center;
		text-transform: uppercase;
	}

	&__dropdown {
		right: 0;
		top: 100%;
		padding: 9px;
		width: 270px;
		display: block;
		background: #fff;
		position: absolute;
		border: 1px solid #d2d2d2;

		opacity: 0;
		visibility: hidden;

		@include transition(.4s);
	}

	&__divider {
		padding-top: 15px;
		border-bottom: 1px solid #d2d2d2;
	}

	@media (min-width: $screen-sm-min) {

		&__dropdown {
			width: 300px;
		}
	}


	@media (min-width: $screen-md-min) {


		&.open {

			.header_account__link {

				&:before {
					height: 5px;
					@include transition(.3s);
				}
			}
		}

		&__link {
			width: auto;
			margin-top: -10px;
			position: relative;

			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				height: 0;
				content: '';
				position: absolute;
				display: inline-block;
				background: $color-red;
				@include transition(.3s);
			}

			span {
				padding-left: 10px;
				font-size: 1.3rem;
				display: inline-block;
				text-transform: uppercase;
			}

			&:hover {

				&:before {
					height: 5px;
					@include transition(.3s);
				}
			}
		}

		&__dropdown {

		}
	}
}

.header_cart {
	position: relative;

	&.open {

		.header_cart__dropdown {
			opacity: 1;
			visibility: visible;
		}
	}

	&__link {
		width: 50px;
		height: 40px;
		color: #828282;
		padding: 10px 5px;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		display: inline-block;
		text-decoration: none;

		i {
			font-size: 2rem;
		}

		span {
			display: none;
		}

		&:hover  {
			color: #828282;
			text-decoration: none;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.5rem;
		padding-top: 10px;
		padding-bottom: 15px;
		text-align: center;
		text-transform: uppercase;
	}

	&__dropdown {
		right: 0;
		top: 100%;
		padding: 9px;
		width: 270px;
		display: block;
		background: #fff;
		position: absolute;
		border: 1px solid #d2d2d2;

		opacity: 0;
		visibility: hidden;

		@include transition(.4s);
	}

	&__divider {
		padding-top: 15px;
		border-bottom: 1px solid #d2d2d2;
	}

	@media (min-width: $screen-sm-min) {

		&__dropdown {
			width: 300px;
		}
	}


	@media (min-width: $screen-md-min) {


		&.open {

			.header_cart__link {

				&:before {
					height: 5px;
					@include transition(.3s);
				}
			}
		}

		&__link {
			width: auto;
			margin-top: -10px;
			position: relative;

			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				height: 0;
				content: '';
				position: absolute;
				display: inline-block;
				background: $color-red;
				@include transition(.3s);
			}

			span {
				padding-left: 10px;
				font-size: 1.3rem;
				display: inline-block;
				text-transform: uppercase;
			}

			&:hover {

				&:before {
					height: 5px;
					@include transition(.3s);
				}
			}
		}

		&__dropdown {

		}
	}
}


.mini_cart {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		position: relative;
		padding: 10px 15px 10px 0;
		border-bottom: 1px solid #d2d2d2;
		@include flexbox();
	}

	&__image {
		width: 75px;
		display: block;
		@include flex-shrink(0);
	}

	&__content {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-top: 8px;
		padding-left: 10px;
		@include flex-grow(1);
	}

	&__name {
		color: #616161;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 5px;

		&:hover {
			color: #616161;
			text-decoration: none;
		}
	}

	&__price {
		color: #616161;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #616161;
			text-decoration: none;
		}
	}

	&__remove {
		right: 0;
		top: 10px;
		width: 13px;
		height: 13px;
		z-index: 100;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 5;
			width: 15px;
			height: 1px;
			content: '';
			margin-left: -8px;
			background: #616161;
			position: absolute;
			display: inline-block;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&__total {
		padding: 15px 0;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 10px;
		border-bottom: 1px solid #d2d2d2;
		@include flexbox();
		@include justify-content(flex-end);

		span {
			margin-right: 15px;
			display: inline-block;
			text-transform: uppercase;
		}

		strong {
			display: inline-block;
		}


	}
}