.cart {

	&_image {
		max-width: 75px;
		display: block;
	}

	&_product {
		font-weight: 600;
		margin-bottom: 5px;

		a {
			color: #616161;
			text-decoration: none;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}

	&_article {
		font-size: 1.1rem;
		text-transform: uppercase;
	}

	&_color {

	}

	&_size {

	}

	&_amount {
		width: 60px;
	}

	&_price {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		white-space: nowrap;
	}

	&_remove {
		width: 20px;
		height: 20px;
		position: relative;
		text-decoration: none;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 21px;
			height: 1px;
			content: '';
			z-index: 10;
			margin-left: -11px;
			position: absolute;
			background: #616161;
			display: inline-block;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&_discount {
		max-width: 250px;

		&__title {
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 5px;
		}

		&__form {
			position: relative;
		}

		&__input {
			background: #fff;
			padding: 7px 10px;
			border: 3px solid #dedede;
			border-right: none;
		}

		&__btn {
			top: 0;
			right: 0;
			color: #fff;
			width: 44px;
			height: 40px;
			border: none;
			outline: none;
			cursor: pointer;
			font-weight: 600;
			padding: 10px 2px;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			text-transform: uppercase;
		}
	}

	&_actions {
		margin: 0 -10px;
		padding: 0;
		list-style: none;

		li {
			padding: 10px;
		}

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-sm-min) {

		&_actions {
			@include flexbox();
			@include justify-content(space-between);

			li {

			}

			.btn {
				width: auto;
			}
		}
	}
}

.cart_table {
	width: 100%;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.9rem;
	margin-bottom: 30px;
	border-collapse: collapse;

	td {
		padding: 7px;
		border: none;
		font-weight: 400;
		border-bottom: 1px solid #e6e6e6;
	}

	th {
		text-align: left;
		padding: 10px 7px;
		background: #f4f4f4;
	}
}

.cart_total {
	width: 100%;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2rem;
	margin-bottom: 30px;
	border-collapse: collapse;


	td {
		border: none;
		font-weight: 400;
		padding: 12px 5px;
		text-transform: uppercase;
		font-family: $font-family-second;

		&:last-child {
			font-weight: 500;
			text-align: right;
		}
	}

	th {
		text-align: left;
		font-weight: 700;
		padding: 20px 5px;
		font-size: 1.8rem;
		line-height: 2rem;
		border-top: 2px solid #e4e4e4;

		&:last-child {
			text-align: right;
			white-space: nowrap;
		}
	}
}

.purchase_step {
	margin: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	padding: 0 0 20px 0;
	@include flexbox();
	@include justify-content(center);

	> li {
		padding: 0 10px;
		margin-bottom: 20px;
	}


	&__item {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 40px;
			height: 40px;
			color: #7e85c5;
			padding: 8px 0;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2rem;
			font-style: normal;
			text-align: center;
			display: inline-block;
			border: 2px solid #7e85c5;
			@include border-radius(50%);
		}

		span {
			display: none;
			padding-left: 10px;
		}

		&.next {
			color: #616161;
			border-color: #616161;

			i {
				color: #616161;
				border-color: #616161;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			padding: 0;
		}

		&__item {

			&:after,
			&:before {
				width: 20px;
				height: 1px;
				content: '';
				background: #7e85c5;
				display: inline-block;
			}

			&:after {
				margin-left: 10px;
			}

			&:before {
				margin-right: 10px;
			}

			span {
				display: inline-block;
			}

			&.next {

				&:after,
				&:before {
					background: #616161;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {


			&:after,
			&:before {
				width: 45px;
			}
		}
	}
}

.shipping {
	font-size: 0;
	line-height: 0;
	display: block;
	font-weight: 400;
	margin-bottom: 35px;

	input {
		display: none;
	}

	&__content {
		display: block;
		position: relative;
		padding: 5px 0 0 80px;

		&:before {
			left: 0;
			top: 13px;
			z-index: 2;
			width: 14px;
			height: 14px;
			content: '';
			background: #e3e3e3;
			position: absolute;
			display: inline-block;
			border: 1px solid #888888;
			@include border-radius(50%);
		}

		&:after {
			left: 4px;
			top: 17px;
			z-index: 10;
			width: 6px;
			height: 6px;
			content: '';
			opacity: 0;
			position: absolute;
			display: inline-block;
			visibility: hidden;
			background: $color-base;
			@include border-radius(50%);
		}
	}

	input:checked + .shipping__content {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}


	&__icon {
		top: 0;
		left: 24px;
		width: 44px;
		display: inline-block;
		position: absolute;
	}

	&__place {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;

		strong {
			font-weight: 700;
			color: $color-blue;
		}
	}

	&__date {
		font-size: 1.6rem;
		line-height: 2rem;
		color: $color-blue;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 1.3rem;
		line-height: 2rem;

		strong {

		}
	}
}

.cart_block {
	padding: 25px;
	border: 2px solid #e4e4e4;

	&__title {
		z-index: 1;
		color: #fff;
		padding: 10px 30px;
		font-size: 1.5rem;
		line-height: 2rem;
		position: relative;
		margin: 0 0 25px 0;
		vertical-align: top;
		display: inline-block;
		text-transform: uppercase;
		background-color: #7e85c5;

		&:before {
			top: 100%;
			left: 50%;
			content: '';
			margin-left: -5px;
			display: inline-block;
			position: absolute;
			border: 10px solid transparent;
			border-top: 10px solid #7e85c5;
		}
	}

	&__content {
		padding: 10px 0;
		border-bottom: 1px solid #e6e6e6;
		@include flexbox();
	}

	&__image {
		width: 75px;
		height: 75px;
		@include flex-shrink(0);
	}

	&__price {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: right;
		white-space: nowrap;
	}

	&__info {
		padding: 0 10px 0 20px;
		font-size: 1.3rem;
		line-height: 1.8rem;
		@include flex-grow(1);

		&_name {
			color: #828282;
			display: block;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 1.6rem;
			margin-bottom: 5px;
			text-decoration: none;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}

		&_data {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	&__summary {
		width: 100%;
		margin-top: 15px;
		border-collapse: collapse;

		td {
			border: none;
			padding: 6px 0;
			font-size: 1.5rem;
			line-height: 2rem;
			font-family: $font-family-second;

			strong {
				padding-top: 5px;
				font-weight: 700;
				font-size: 1.8rem;
				line-height: 2rem;
				display: inline-block;
			}

			&:last-child {
				text-align: right;
			}
		}

		tr {

			&:last-child {

				td {
					font-family: $font-family-base;
				}
			}
		}
	}
}