.page {
	padding-top: 80px;
	min-height: 100vh;
	overflow: hidden;
	@include flexbox();
	@include flex-direction(column);

	@media (min-width: $screen-md-min) {
		padding-top: 0;
	}
}

.main {
	padding-top: 30px;
	padding-bottom: 40px;
	@include flex-grow(1);

	&_row {
		margin: 0 -15px;
		@include flexbox();
		@include flex-direction(column);
	}

	&_sidebar {
		padding: 0 15px;

		&.invert_xs {
			@include order(2);
		}
	}

	&_content {
		padding: 0 15px;

		&.invert_xs {
			@include order(1);
		}
	}


	@media (min-width: $screen-sm-min) {

		&_row {
			@include flex-direction(row);
		}

		&_sidebar {
			width: 280px;
			min-height: 1px;
			@include flex-shrink(0);

			&.invert_xs {
				@include order(1);
			}
		}

		&_content {
			min-height: 1px;
			@include flex-grow(1);


			&.invert_xs {
				@include order(2);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&_sidebar {
			width: 330px;
		}
	}
}

.main_slider {
	margin-bottom: 30px;

	&__item {
		position: relative;
	}

	&__mobile {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&__desktop {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&__content {
		z-index: 20;
		height: 400px;
		padding-top: 320px;
		padding-bottom: 20px;
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		a {
			color: #000;
			margin: 0 7px;
			padding: 9px 10px;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			border: 1px solid #000;

			&:hover {
				color: #fff;
				text-decoration: none;
				background: $color-red;
				border-color: $color-red;
			}
		}
	}

	.swiper-pagination {
		font-size: 0;
		line-height: 0;
		bottom: 10px;
	}

	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
	}

	.swiper-pagination-bullet-active {
		background-color: $color-red;
	}


	@media (min-width: $screen-sm-min) {

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}

		&__content {
			height: 480px;
			padding-top: 340px;

			a {
				width: 200px;
				margin: 0 10px;
				font-size: 1.8rem;
				border-width: 2px;
			}
		}

		.swiper-pagination {
			bottom: 32px;
		}
	}
}

.push {

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			max-width: 425px;
			margin: 0 auto 20px auto;

			a {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);

			> li {
				margin: 0;
				width: calc(33.33% - 10px);
			}
		}
	}
}

.homepage_title {
	color: #616161;
	overflow: hidden;
	font-weight: 700;
	font-size: 2.6rem;
	line-height: 3rem;
	text-align: center;
	position: relative;
	margin-bottom: 10px;
	text-transform: uppercase;

	span {
		z-index: 10;
		background: #fff;
		position: relative;
		display: inline-block;
	}

	@media (min-width: $screen-sm-min) {

		&:before {
			left: 0;
			right: 0;
			top: 50%;
			content: '';
			display: block;
			position: absolute;
			border-bottom: 1px solid #616161;
		}

		span {
			padding: 0 20px;
		}
	}
}

.innovation {
	width: 100%;
	z-index: 10;
	position: relative;
	padding: 35px 10px;
	background: #f6f6f6;
	margin-bottom: -3px;

	&__row {

	}

	&__item {
		display: block;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__item {
			margin-bottom: 0;
			width: calc(50% - 15px);
		}
	}
}


.gray_box {
	color: #828282;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 15px 35px;
	background: #f6f6f6;
}

.sidebar_nav {
	background: #f4f4f4;

	&__title {
		color: #fff;
		padding: 10px;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		background: #7e85c5;
		text-transform: uppercase;
	}

	ul {
		margin: 0;
		padding: 15px 0;
		list-style: none;

		li {

			a {
				color: #616161;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				text-decoration: none;
				padding: 10px 10px 10px 20px;

				&:hover {
					color: $color-blue;
					text-decoration: none;
				}
			}

			&.active {

				a {
					color: $color-blue;
				}
			}
		}
	}
}

.content {
	font-size: 1.3rem;

	p {
		margin: 0 0 15px 0;
	}
}

.content_box {
	max-width: 1050px;
	font-size: 1.3rem;
	line-height: 1.8rem;
	margin: 0 auto 25px auto;

	&__image {
		max-width: 400px;
		margin: 0 auto;
	}

	&__text {

	}

	&__wrap {

	}


	@media (min-width: $screen-lg-min) {

		&__text {
			padding: 0 100px;
			text-align: justify;
		}
	}
}

.table_title {
	padding: 15px 0;
	color: #7e85c5;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 2rem;
	text-align: center;
	margin: 50px 0 25px 0;
	border-bottom: 1px solid #f4f4f4;
	text-transform: uppercase;
}


.reg_block {
	margin: 0 auto;
	max-width: 700px;
}