.account_navigation {
	margin-bottom: 20px;

	&__title {
		color: #fff;
		font-weight: 600;
		text-align: center;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 10px 20px;
		position: relative;
		background: #ee3147;
		text-transform: uppercase;

		&:before {
			top: 100%;
			left: 50%;
			content: '';
			margin-left: -5px;
			display: inline-block;
			position: absolute;
			border: 10px solid transparent;
			border-top: 10px solid #ee3147;
		}

		i {
			top: 50%;
			left: 10px;
			margin-top: -8px;
			position: absolute;
			font-size: 16px;
			line-height: 16px;
		}

		span {

		}
	}

	ul {
		margin: 0;
		padding: 15px 0;
		list-style: none;
		text-align: center;
		background: #f4f4f4;

		li {

			a {
				width: 100%;
				color: #828282;
				padding: 10px 5px;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 1.6rem;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: $color-red;
					text-decoration: none;
				}
			}

			&.active {

				a {
					color: $color-red;
					text-decoration: none;
				}
			}
		}
	}
}

.account_links {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 20px;

		a {
			height: 38px;
			display: block;
			color: #7e85c5;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 2rem;
			padding: 9px 10px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			background: #f4f4f4 url('../img/sprite-icon.png') 0 0 no-repeat;
			@include transition(all 300ms ease-in-out 0s);

			&:hover {
				color: #fff;
				text-decoration: none;
				background-color: $color-blue;
			}
		}

		&.item1 {

			a {
				background-position: 8px -875px;

				&:hover {
					background-position:8px -913px;
				}

			}
		}

		&.item2 {

			a {
				background-position: 8px -951px;

				&:hover {
					background-position:8px -986px;
				}

			}
		}

		&.item3 {

			a {
				background-position: 8px -1027px;

				&:hover {
					background-position:8px -1070px;
				}

			}
		}

		&.item4 {

			a {
				background-position: 8px -1137px;

				&:hover {
					background-position:8px -1189px;
				}

			}
		}
	}
}

.account_block {
	margin-bottom: 30px;
}

.account_title {
	color: #828282;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2rem;
	position: relative;
	margin-bottom: 25px;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {

		&:before {
			top: 50%;
			left: 0;
			right: 0;
			z-index: 1;
			content: '';
			display: block;
			position: absolute;
			border-bottom: 1px solid #828282;
		}

		span {
			z-index: 10;
			background: #fff;
			position: relative;
			display: inline-block;
			padding-right: 15px;
		}
	}
}

.accordion {

	&__item {

		&_heading {
			cursor: pointer;
			font-size: 1.3rem;
			line-height: 2rem;
			position: relative;
			padding: 12px 30px 13px 35px;
			border-bottom: 1px solid #d8d8d8;

			b {
				top: 10px;
				left: 0;
				width: 24px;
				height: 24px;
				color: #ed3147;
				padding: 3px 0;
				font-size: 1.4rem;
				line-height: 1.4rem;
				text-align: center;
				position: absolute;
				display: inline-block;
				border: 2px solid #ed3147;
				@include border-radius(50%);
			}

			i {
				right: 0;
				top: 50%;
				margin-top: -10px;
				font-size: 2rem;
				line-height: 2rem;
				position: absolute;
				@include transition(.3s);
			}

			span {
				font-weight: 500;
				font-size: 1.3rem;
				line-height: 2rem;
			}

			&.open {

				i {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}
		}

		&_content {
			display: none;
			font-size: 1.3rem;
			line-height: 1.8rem;
			padding: 30px 0 15px 35px;
		}
	}
}


.auth {

	&__group {
		padding: 25px;
		min-height: 360px;
		margin-bottom: 40px;
		border: 3px solid #e4e4e4;
	}

	&__heading {
		color: #616161;
		overflow: hidden;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		position: relative;
		margin-bottom: 3px;
		text-transform: uppercase;


		&:before {
			left: 0;
			right: 0;
			top: 50%;
			content: '';
			display: block;
			position: absolute;
			border-bottom: 1px solid #616161;
		}

		span {
			z-index: 10;
			padding: 0 15px;
			background: #fff;
			position: relative;
			display: inline-block;
		}
	}

	&__subtitle {
		color: #828282;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 2rem;
		text-align: center;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-sm-min) {
		max-width: 930px;
		margin: 0 auto;
		@include flexbox();
		@include justify-content(space-between);

		&__group {
			width: calc(50% - 10px);
		}
	}
}

