
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 20px 0;
	@include flexbox();

	> li {
		color: #616161;
		font-size: 1.3rem;
		line-height: 1.8rem;
		display: inline-block;
		text-transform: uppercase;
		font-family: $font-family-second;

		&:after {
			content: '/';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #616161;
			text-decoration: none;

			&:hover {
				color: $color-red;
				text-decoration: none;
			}
		}

		> span {
			color: #7e85c5;
			font-weight: 700;
		}
	}
}