
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 10px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #ee3147;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;


	&:hover {
		color: #fff;
		background: #ee3147;
	}

	&:active {
		background: #ee3147;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_purchase {
	padding-right: 70px;

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		color: #fff;
		padding: 10px 0;
		font-size: 2rem;
		line-height: 2rem;
		content: '\f290';
		position: absolute;
		text-align: center;
		background: #ca2033;
		display: inline-block;
		font-family: FontAwesome;
		@include transition(.3s);
	}

	span {
		left: 0;
		display: inline-block;
		position: relative;
		@include transition(.3s);
	}

	&:hover {

		&:before {
			width: 60px;
		}

		span {
			left: 20px;
		}
	}
}

.btn_left {
	padding-left: 70px;

	&:before {
		top: 0;
		left: 0;
		bottom: 0;
		width: 40px;
		color: #fff;
		padding: 10px 0;
		font-size: 2rem;
		line-height: 2rem;
		content: '\f104';
		position: absolute;
		text-align: center;
		background: #ca2033;
		display: inline-block;
		font-family: FontAwesome;
		@include transition(.3s);
	}

	span {
		right: 0;
		display: inline-block;
		position: relative;
		@include transition(.3s);
	}

	&:hover {

		&:before {
			width: 60px;
		}

		span {
			right: 20px;
		}
	}
}


.btn_right {
	padding-right: 70px;

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		width: 40px;
		color: #fff;
		padding: 10px 0;
		font-size: 2rem;
		line-height: 2rem;
		content: '\f105';
		position: absolute;
		text-align: center;
		background: #ca2033;
		display: inline-block;
		font-family: FontAwesome;
		@include transition(.3s);
	}

	span {
		left: 0;
		display: inline-block;
		position: relative;
		@include transition(.3s);
	}

	&:hover {

		&:before {
			width: 60px;
		}

		span {
			left: 20px;
		}
	}
}

.btn_blue {
	background: $color-blue;

	&:hover {
		color: #fff;
		background: $color-blue;
	}

	&.btn_right {

		&:before {
			background: #666ca5;
		}
	}

	&.btn_left {

		&:before {
			background: #666ca5;
		}
	}
}

.btn_sm {
	font-size: 1.2rem;
	padding: 5px 15px;

	&.btn_left {
		padding-left: 45px;

		&:before {
			width: 30px;
			padding: 7px 0;
			font-size: 1.6rem;
			line-height: 1.6rem;
		}

		&:hover {

			&:before {
				width: 37px;
			}

			span {
				right: 4px;
			}
		}
	}


	&.btn_right {
		padding-right: 45px;

		&:before {
			width: 30px;
			padding: 7px 0;
			font-size: 1.6rem;
			line-height: 1.6rem;
		}

		&:hover {

			&:before {
				width: 37px;
			}

			span {
				left: 5px;
			}
		}
	}
}