.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 40px;
	color: #616161;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
	padding: 9px 10px;
	background: #f4f4f4;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #f4f4f4;
	@include placeholder(#616161);

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

	&_sm {
		height: 30px;
		padding: 4px 10px;
	}
}

.form_select {
	font-weight: 400;
	background: #f4f4f4 url("../img/icon__select.png") 100% 50% no-repeat;


	-webkit-appearance: none;

	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}
}


.form_group {
	margin-bottom: 15px;
}

.form_label {
	display: block;
	font-size: 1.3rem;
	margin-bottom: 6px;

	sup {
		color: $color-red;
	}
}
.form_checkbox {
	font-weight: 400;
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		font-size: 1.3rem;
		line-height: 1.6rem;
		padding-left: 30px;
		position: relative;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			content: '';
			padding: 3px 0;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			display: block;
			position: absolute;
			background: #e4e4e4;
			font-family: FontAwesome;
		}
	}

	input:checked + span {

		&:before {
			content: "\f00c";
		}
	}
}

.form_btn {
	padding-top: 20px;
}

.form_flex {
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);
}