.table {
	width: 100%;
	font-size: 1.5rem;
	line-height: 2rem;
	border-collapse: collapse;
	font-family: $font-family-second;

	&_data {

		td {
			height: 48px;
		}
	}


	td {
		min-height: 48px;
		padding: 5px 10px;
		vertical-align: middle;
		border: 2px solid #f4f4f4;

		&.no_border {
			border-color: transparent;
		}

		&.table_heading  {
			background: #f4f4f4;

			&_col {
				vertical-align: bottom;

				span {
					max-width: 130px;
					display: inline-block;
				}
			}
		}

		&.table_red {
			color: #fff;
			background: $color-red;
			border-color: $color-red;
		}

		&.table_blue {
			color: #fff;
			background: $color-blue;
			border-color: $color-blue;
		}

		img {
			max-width: 80px;
			display: block;
			height: auto;
			margin: 0 auto;
		}
	}
}

.table_responsive {
	width: 100%;
	overflow-y: auto;
}